<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <link rel="stylesheet" href="./css/student.css">
    </head>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="content">
            <span class="form-title">Result</span>
            <div class="row">
                <div class="col-1">Roll No.&nbsp;:</div>
                <div class="col-1 j-start"><%= data.rollNo %></div>
            </div>
            <div class="row">
                <div class="col-1">Name&nbsp;:</div>
                <div class="col-1 j-start"><%= data.name %></div>
            </div>
            <div class="row">
                <div class="col-1">Date of Birth&nbsp;:</div>
                <div class="col-1 j-start"><%= data.dob %></div>
            </div>
            <div class="row">
                <div class="col-1">Score&nbsp;:</div>
                <div class="col-1 j-start"><%= data.score %></div>
            </div>
        </div>
    </main>
    <script src="../js/button.js"></script>
</body>
</html>